Thumbs.db
.DS_Store
.gradle
build/
target/
out/
.idea
.vscode
*.iml
*.ipr
*.iws
.project
.settings
.classpath
.attach*
src/test/resources/application-test.yml
.factorypath
bin/

# Kestra core resources unpacked by the build/doc tooling
/docs/
/icons/
/metadata/
/logback/
/requirements.txt
